* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
}

.container {
  width: 100%;
  max-width: calc(1600px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.hidden {
  display: none !important;
}
/* --------------------------- */
.flex {
  display: flex;
}
.gap-30 {
  gap: 30px;
}
.content {
  max-width: 300px;
  margin-top: 10px;
  background-color: beige;
  padding: 10px;
}
.h1 {
  text-align: center;
}
.person {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
  margin-bottom: 10px;
}
.person:focus {
  outline-color: red;
}
.gender {
  margin-bottom: 10px;
}
input [type="radio"],
[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 10px;
}
.city {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid;
}
.city:focus {
  outline-color: red;
}
.adress {
  width: 100%;
  resize: none;
  border-radius: 5px;
  border: 1px solid;
}
.adress:focus {
  outline-color: red;
}
.list {
  display: none;
  margin-top: 10px;
}
td {
  padding: 5px 15px;
  border: 1px solid;
  text-align: center;
}
